<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469779645378-bnefuelohp3blmc1tsclmvjbp0o1vf01.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469779645378-bnefuelohp3blmc1tsclmvjbp0o1vf01</string>
	<key>API_KEY</key>
	<string>AIzaSyDlNPQXjnRqPqCkH2m3-c9-1N3l2FqFQkE</string>
	<key>GCM_SENDER_ID</key>
	<string>469779645378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.woojun.lee.Instagram-01</string>
	<key>PROJECT_ID</key>
	<string>instagramfirestoretutori-7f732</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirestoretutori-7f732.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469779645378:ios:775499a72105d1c8a0cc5b</string>
</dict>
</plist>